[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "vstmr/3rdparty/assimp"]
	path = vstmr/3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vstmr/3rdparty/imgui"]
	path = vstmr/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vstmr/3rdparty/entt"]
	path = vstmr/3rdparty/entt
	url = https://github.com/skypjack/entt.git
